body{
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    text-align: center;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.chat-area {
    flex: 1;
    overflow-y: auto;
    max-height: 85%;
}

.enterarea{
    margin-bottom: 4em;
    bottom: 0;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #ccc;
    max-height: 15%;
    position: relative;
}

#plus{
    font-size: 20px;
    color:rgb(32, 188, 186);
    background-color: white;
    border-radius: 30%;
    border-width: 1px;
    border-color: rgb(32, 188, 186);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#stamp{

    font-size: 20px;
    color:rgb(32, 188, 186);
    background-color: white;
    border-radius: 30%;
    border-width: 1px;
    border-color: rgb(32, 188, 186);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

#send{

    font-size: 20px;
    color:rgb(255, 255, 255);
    background-color: rgb(32, 188, 186);
    border-radius: 30%;
    border-width: 1px;
    border-color: rgb(32, 188, 186);
    font-weight: bold;
}

#userName{
    width: 500px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: rgb(26, 154, 152);
    border-width: 1px;
}

.tooltip {
    position: fixed;
    background-color: #848484;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    display: none;
}

.emoji-picker {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.emoji-picker span {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}

.chatmessage{
    text-align: left;
    font-size: 12px;
    max-width: 25%;
    width: fit-content;
    margin-left: 40%;
    margin-top: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background: #f1f1f1;
    word-wrap: break-word;
}

